@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  background-image: url(../assets/fondo-de-todo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; }

header li {
  list-style: none; }
  header li a {
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
    color: #ffffff; }

footer {
  font-family: 'Archivo Black', sans-serif; }
  footer section ul {
    padding-left: 0; }
    footer section ul li {
      list-style: none; }
      footer section ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px; }

.logoPublicidad a img {
  height: 150px; }

.bannerIndex {
  background-image: url(../assets/banners/banner-index.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 820px;
  width: 100%; }
  .bannerIndex div p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px; }
  .bannerIndex div img {
    width: 570px; }

.novedadesIndex h1 {
  font-family: 'Archivo Black', sans-serif; }

.novedadesIndex div article {
  height: 300px;
  width: 570px; }
  .novedadesIndex div article h2 {
    font-family: 'Archivo Black', sans-serif; }
  .novedadesIndex div article p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px; }

.novedades1 {
  background-image: url(../assets/novedades-index/rock-fest-paris-2022.jpg);
  background-size: cover; }

.novedades2 {
  background-image: url(../assets/novedades-index/mas-de-50-bandas.jpg);
  background-size: cover; }

.novedades3 {
  background-image: url(../assets/novedades-index/buenos-aires.jpg);
  background-size: cover; }

.textTicketsTitle {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px; }

.bannerTickets {
  background-image: url(../assets/banners/banner-tickets.jfif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 820px;
  width: 100%; }
  .bannerTickets p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px; }

.ticketsInfo div {
  height: 250px;
  width: 700px; }
  .ticketsInfo div h2 {
    margin-top: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px; }
  .ticketsInfo div p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px; }

.pressInfo {
  font-family: 'Archivo Black', sans-serif;
  width: 600px;
  height: 200px; }
  .pressInfo h2 {
    margin-top: 20px;
    font-size: 45px; }

.bannerLineUp {
  background-image: url(../assets/banners/banner-line-up.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 820px;
  width: 100%; }
  .bannerLineUp p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px; }

.diaAndStage {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px; }

.band2 {
  font-family: 'Archivo Black', sans-serif; }
  .band2 li h1 {
    font-size: 80px; }
  .band2 li h2 {
    font-size: 50px; }

.band3 {
  font-family: 'Archivo Black', sans-serif; }
  .band3 li h2 {
    font-size: 50px; }
  .band3 li h3 {
    font-size: 30px; }

.estiloLista li {
  list-style: none; }
  .estiloLista li a {
    text-decoration: none; }

.oculto {
  opacity: 0; }

.bannerHistoria {
  background-image: url(../assets/banners/banner-historia.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 820px;
  width: 100%; }
  .bannerHistoria p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px; }

.textHistoria {
  font-size: 30px; }
  .textHistoria p {
    font-family: 'Rajdhani', sans-serif; }

.bannerContacto {
  background-image: url(../assets/banners/banner-contacto.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 820px;
  width: 100%; }
  .bannerContacto p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px; }

.secForms {
  margin-left: 150px;
  margin-right: 150px; }
  .secForms h1 {
    font-family: 'Archivo Black', sans-serif; }

@media (max-width: 768px) {
  /*index.html*/
  .bannerIndex div img {
    width: 400px; }
  .novedadesIndex h1 {
    font-family: 'Archivo Black', sans-serif; }
  .novedadesIndex div article {
    height: 400px;
    width: 100%; }
    .novedadesIndex div article h2 {
      font-family: 'Archivo Black', sans-serif; }
    .novedadesIndex div article p {
      font-family: 'Rajdhani', sans-serif;
      font-size: 20px; }
  .novedadesIndex h1 {
    font-family: 'Archivo Black', sans-serif; }
  .novedadesIndex div article h2 {
    font-family: 'Archivo Black', sans-serif; }
  .novedadesIndex div article p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px; }
  footer {
    font-family: 'Archivo Black', sans-serif; }
    footer section ul li {
      list-style: none; }
      footer section ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px; }
  .logoPublicidad a img {
    height: 100px; }
  /*tickets.html*/
  .bannerTickets {
    background-image: url(../assets/banners/banner-tickets.jfif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 820px;
    width: 100%; }
    .bannerTickets p {
      font-size: 100px; }
  .textTicketsTitle {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px; }
  /*line-up.html*/
  .oculto {
    opacity: 1; }
  .bannerLineUp p {
    font-size: 100px; }
  .diaAndStage {
    font-size: 70px; }
  /*historia.html*/
  .bannerHistoria p {
    font-size: 100px; }
  /*contacto.html*/
  .bannerContacto p {
    font-size: 0px; }
  .secForms {
    margin-left: 50px;
    margin-right: 50px; }
    .secForms h1 {
      font-family: 'Archivo Black', sans-serif; } }

@media (max-width: 576px) {
  /*index.html*/
  .bannerIndex {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 820px;
    width: 100%;
    height: 600px; }
    .bannerIndex div p {
      font-size: 30px; }
    .bannerIndex div img {
      display: none; }
  .novedadesIndex h1 {
    font-family: 'Archivo Black', sans-serif; }
  .novedadesIndex div article {
    height: 400px;
    width: 100%; }
    .novedadesIndex div article h2 {
      font-family: 'Archivo Black', sans-serif; }
    .novedadesIndex div article p {
      font-family: 'Rajdhani', sans-serif;
      font-size: 20px; }
  /*tickets.html*/
  .bannerTickets {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 820px;
    height: 600px;
    width: 100%; }
    .bannerTickets p {
      font-size: 80px; }
  .ticketsInfo div {
    height: 250px;
    width: 500px; }
    .ticketsInfo div h2 {
      margin-top: 20px;
      font-size: 35px; }
    .ticketsInfo div p {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 26px; }
  .pressInfo {
    width: 500px;
    height: 200px; }
    .pressInfo h2 {
      margin-top: 20px;
      font-size: 45px; }
  /*lineup.html*/
  .bannerLineUp {
    width: 100%; }
    .bannerLineUp p {
      font-size: 80px; }
  /**historia.html**/
  .bannerHistoria {
    width: 100%; }
    .bannerHistoria p {
      font-size: 80px; }
  /*contacto.html*/
  .bannerContacto {
    width: 100%; }
    .bannerContacto p {
      font-size: 80px; }
  .secForms {
    margin-left: 10px;
    margin-right: 10px; } }
