body{
    background-color: black;
    background-image: url(../assets/fondo-de-todo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}