footer{
    @include tipo-arch-black;
    section{
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                }
            }
        }
    }
}

.logoPublicidad a img{
    height: 150px;
}

