footer{
    @include tipo-arch-black;
    section{

    }
    section{
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 35px;
                }
            }
        }
    }
}