footer{
    @include tipo-arch-black;
    section{
        ul{
            padding-left: 0;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                }
            }
        }
    }
}

.logoPublicidad a img{
    height: 150px;
}
.fontInfo{
    @include tipo-radj;
    font-size: 15px;
    li{
        a{
            font-size: 15px;
        }
    }
}

