header{
    li{
        list-style: none;
        a{
            @include tipo-arch-black;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 30px;
        }
    }
}