.textTicketsTitle{
    @include tipo-arch-black;
    font-size: 50px;
}

.bannerTickets{
    background-image: url(../assets/banners/banner-tickets.jfif);
    @include parllax-banner;
    width: 100%;
    p{
        @include tipo-arch-black;
        font-size: 120px;
    }
}

.ticketsInfo{
        div{
            height: 300px;
            width: 570px;
            h2{
                margin-top: 20px;
                @include tipo-arch-black;
                font-size: 45px;
            }
            p{
                @include tipo-radj;
                font-size: 30px;
            }
            button{
                @include tipo-arch-black;
            }
        }
}

.pressInfo{
    @include tipo-arch-black;
    width: 600px;
    height: 150px;
    h2{
        margin-top: 20px;
        font-size: 45px;
    }
}